body {
        margin: 0;
        font-family: 'Merriweather', serif;
        background-color: #f0f0f0; 
}

.logo {
    position: absolute;
    left: 20px;
}

.logo a img {
    height: 80px;
    width: 80px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1a2726; /* Make the background transparent */
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.nav-links a {
    margin: 0 20px; /* Sesuaikan margin */
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 40px;
}

.nav-links a:hover {
    color: #a2d5d1; /* Warna saat dihover */
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #213533;
    color: #90A4AE;
    padding: 20px;
    text-align: center;
    width: 100%;
    left: 0;
    box-sizing: border-box; 
}

.footer .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.footer-logo {
    flex: 1; 
    text-align: left;
}

.footer-logo img {
    height: 80px;
    width: 80px;
}

.footer-links {
    flex: 1; 
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-contact {
    flex: 1; 
    text-align: right;
}

.footer-contact ul {
    list-style-type: none; 
    padding: 0;
}

.footer-contact li {
    margin-bottom: 5px; 
}

.footer-links a,
.footer-contact a {
    color: #90A4AE;
    text-decoration: none;
    text-align: left;
}

.footer-links a:hover,
.footer-contact a:hover {
    color: #fc2a05;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #90A4AE;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icons a:hover {
    color: #fc2a05;
}